<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.mybatis_plus.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zty.mybatis_plus.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,age,
        email,create_time,update_time,
        deleted
    </sql>
    <update id="updateByName">
        update user set age=age where name=#{name}
    </update>
    <update id="logicDeleteById">
        update user set deleted=0 where id=#{id}
    </update>

    <select id="getAllUsers" resultType="List" resultMap="BaseResultMap">
        select * from user
    </select>


</mapper>
